
0x01-Basic_authentication/SimpleAPI
0x01-Basic_authentication/__MACOSX
0x01-Basic_authentication/bin
0x01-Basic_authentication/lib/python3.8/site-packages
0x01-Basic_authentication/share/python-wheels